In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
weather = pd.read_csv('https://raw.githubusercontent.com/j-tice/capstone_final/master/data/prepared_data/clean_data/clean_meteorological_data.csv?token=GHSAT0AAAAAAB6VFL52NL5XJTY4WZTPSDU4Y7WWVUQ')
sensor = pd.read_csv('https://raw.githubusercontent.com/j-tice/capstone_final/master/data/prepared_data/clean_data/clean_sensor_data.csv?token=GHSAT0AAAAAAB6VFL52OQSYO6THXDIICLSEY7WWVJA')

In [7]:
weather.head()

                  date  wind_direction  wind_speed
0  2016-04-01 00:00:00            10.5         4.0
1  2016-04-01 03:00:00            23.3         5.0
2  2016-04-01 06:00:00            21.1         5.2
3  2016-04-01 09:00:00            24.9         4.1
4  2016-04-01 12:00:00            27.0         3.6

In [8]:
sensor.columns = [elem.lower() for elem in sensor.columns]
new_cols = list(sensor.columns)
new_cols[2] = 'date'
sensor.columns = new_cols

In [9]:
sensor.head()

         chemical  monitor                 date   reading
0  Methylosmolene        3  2016-04-01 00:00:00  2.683820
1  Methylosmolene        7  2016-04-01 00:00:00  2.630640
2    Chlorodinine        3  2016-04-01 00:00:00  1.259170
3    Chlorodinine        7  2016-04-01 00:00:00  0.943983
4         AGOC-3A        3  2016-04-01 00:00:00  0.722303

In [10]:
weather.dtypes

date               object
wind_direction    float64
wind_speed        float64
dtype: object

In [11]:
sensor.dtypes

chemical     object
monitor       int64
date         object
reading     float64
dtype: object

In [12]:
sensor1 = sensor.loc[sensor.monitor == 1]
sensor2 = sensor.loc[sensor.monitor == 2]
sensor3 = sensor.loc[sensor.monitor == 3]
sensor4 = sensor.loc[sensor.monitor == 4]
sensor5 = sensor.loc[sensor.monitor == 5]
sensor6 = sensor.loc[sensor.monitor == 6]
sensor7 = sensor.loc[sensor.monitor == 7]
sensor8 = sensor.loc[sensor.monitor == 8]
sensor9 = sensor.loc[sensor.monitor == 9]

In [13]:
chems = list(sensor1.chemical.unique())
chems

['Methylosmolene', 'Chlorodinine', 'AGOC-3A', 'Appluimonia']

In [14]:
s1_methyl = sensor1.loc[sensor1.chemical == 'Methylosmolene']

In [15]:
locations = pd.read_csv('https://raw.githubusercontent.com/j-tice/capstone_final/master/data/prepared_data/clean_data/locations.csv?token=GHSAT0AAAAAAB6VFL53MVJQP3DLF6KAHIDGY7WWTRQ')
chem_counts = pd.read_csv('https://raw.githubusercontent.com/j-tice/capstone_final/master/data/prepared_data/clean_data/chem_counts.csv?token=GHSAT0AAAAAAB6VFL53IBE6RMIO5A7UVZ2IY7WWTYQ')

In [16]:
locations.head()

                             Name    x   y
0         Kasios Office Furniture   90  21
1              Radiance ColourTek  109  26
2               Indigo Sol Boards  120  22
3  Roadrunner Fitness Electronics   89  27
4                        Sensor 1   62  21

In [17]:
chem_counts.head()

   sensor        chemical  sig_count
0       1    Chlorodinine          5
1       1         AGOC-3A          4
2       1     Appluimonia          3
3       1  Methylosmolene          1
4       2         AGOC-3A          7

In [ ]:
# https://seaborn.pydata.org/examples/scatter_bubbles.html