In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
%ls ..\data\prepared_data

 Volume in drive C is OS
 Volume Serial Number is 7AB7-414E

 Directory of C:\Users\justi\Documents\data_science_grad\capstone_final_repo\data\prepared_data

02/17/2023  08:45 PM    <DIR>          .
02/17/2023  08:48 PM    <DIR>          ..
02/17/2023  08:45 PM            22,604 meteorological_data.csv
02/17/2023  08:45 PM         3,615,385 sensor_data.csv
               2 File(s)      3,637,989 bytes
               2 Dir(s)  34,409,234,432 bytes free

In [3]:
raw_weather = pd.read_csv('https://raw.githubusercontent.com/j-tice/capstone_final/master/data/prepared_data/meteorological_data.csv?token=GHSAT0AAAAAAB6VFL53IDUM4GVGPRPUHWWOY7UFAJQ')

In [4]:
raw_weather.head()

,Date,Wind Direction,Wind Speed (m/s),Unnamed: 3,Elevation (m)
0,2016-04-01 00:00:00,190.5,4.0,NaN,370.0
1,2016-04-01 03:00:00,203.3,5.0,NaN,NaN
2,2016-04-01 06:00:00,201.1,5.2,NaN,NaN
3,2016-04-01 09:00:00,204.9,4.1,NaN,NaN
4,2016-04-01 12:00:00,207.0,3.6,NaN,NaN

In [5]:
raw_weather = raw_weather['Date,Wind Direction,Wind Speed (m/s)'.split(',')]
raw_weather.columns = 'date,wind_direction,wind_speed'.split(',')
raw_weather.date = pd.to_datetime(raw_weather.date)
raw_weather.head()

                 date  wind_direction  wind_speed
0 2016-04-01 00:00:00           190.5         4.0
1 2016-04-01 03:00:00           203.3         5.0
2 2016-04-01 06:00:00           201.1         5.2
3 2016-04-01 09:00:00           204.9         4.1
4 2016-04-01 12:00:00           207.0         3.6

In [6]:
sorted(list(set(raw_weather.wind_direction)))

[0.1,
 1.3,
 4.1,
 5.1,
 5.5,
 9.8,
 10.7,
 13.4,
 19.5,
 21.8,
 26.9,
 27.1,
 28.3,
 30.6,
 32.5,
 36.8,
 38.0,
 38.3,
 40.1,
 44.6,
 45.6,
 46.3,
 49.6,
 53.4,
 55.1,
 59.0,
 59.6,
 65.9,
 67.4,
 68.0,
 69.6,
 78.9,
 91.9,
 99.8,
 110.9,
 113.8,
 115.4,
 116.9,
 119.9,
 125.7,
 125.8,
 127.0,
 128.3,
 128.4,
 128.5,
 129.7,
 130.2,
 130.6,
 131.3,
 131.4,
 131.6,
 134.0,
 134.9,
 135.2,
 135.8,
 136.2,
 136.8,
 136.9,
 137.0,
 137.6,
 138.8,
 140.2,
 141.1,
 141.3,
 142.9,
 143.2,
 143.6,
 144.5,
 144.9,
 145.0,
 145.2,
 145.4,
 145.5,
 146.5,
 146.6,
 146.8,
 146.9,
 147.1,
 148.3,
 150.5,
 151.5,
 153.4,
 154.5,
 154.6,
 155.0,
 155.2,
 155.9,
 156.0,
 156.4,
 156.9,
 157.1,
 158.1,
 158.6,
 158.9,
 159.2,
 160.5,
 160.8,
 160.9,
 161.0,
 161.7,
 161.8,
 162.0,
 162.4,
 163.1,
 163.3,
 164.0,
 164.1,
 164.7,
 165.0,
 165.7,
 165.9,
 166.8,
 167.2,
 168.8,
 169.2,
 169.4,
 169.5,
 169.9,
 170.1,
 170.5,
 171.0,
 171.2,
 171.4,
 171.5,
 172.1,
 172.3,
 172.9,
 173.3,
 173.6,
 173.7,
 174.0,
 174.4,
 174.5,
 174.7,
 174.8,
 175.1,
 175.3,
 175.5,
 175.8,
 175.9,
 176.2,
 176.3,
 176.4,
 177.0,
 177.8,
 177.9,
 178.2,
 178.3,
 178.7,
 179.8,
 179.9,
 180.3,
 181.2,
 181.5,
 182.0,
 182.5,
 182.6,
 183.6,
 184.1,
 184.4,
 184.8,
 185.0,
 185.3,
 185.9,
 186.0,
 186.3,
 186.5,
 187.1,
 187.2,
 187.7,
 187.9,
 188.6,
 188.7,
 188.9,
 189.8,
 190.5,
 191.4,
 191.7,
 193.2,
 193.5,
 194.4,
 194.6,
 195.9,
 196.0,
 196.2,
 196.5,
 196.9,
 197.1,
 197.4,
 197.5,
 197.6,
 198.3,
 198.4,
 198.5,
 199.0,
 199.9,
 200.0,
 200.2,
 200.3,
 200.4,
 200.6,
 200.7,
 201.1,
 201.2,
 201.5,
 202.6,
 202.9,
 203.2,
 203.3,
 203.5,
 204.0,
 204.9,
 205.2,
 205.5,
 206.3,
 206.5,
 206.9,
 207.0,
 207.1,
 208.4,
 208.7,
 209.2,
 209.9,
 211.0,
 211.1,
 211.2,
 211.3,
 211.5,
 211.8,
 212.9,
 213.1,
 213.2,
 213.8,
 215.1,
 215.6,
 216.1,
 216.3,
 216.5,
 216.8,
 217.3,
 217.4,
 218.5,
 221.0,
 221.2,
 221.3,
 221.5,
 221.6,
 222.1,
 222.6,
 222.7,
 223.2,
 224.2,
 225.0,
 225.6,
 225.9,
 226.0,
 226.6,
 nan,
 227.1,
 227.6,
 227.7,
 228.1,
 228.2,
 228.6,
 229.0,
 229.7,
 nan,
 231.0,
 231.1,
 232.2,
 232.4,
 233.6,
 233.7,
 234.7,
 235.0,
 235.3,
 235.9,
 236.0,
 237.1,
 237.7,
 239.5,
 239.8,
 241.0,
 241.3,
 242.2,
 242.5,
 242.8,
 243.3,
 243.8,
 244.1,
 245.0,
 245.1,
 246.4,
 248.1,
 248.9,
 249.1,
 249.2,
 249.7,
 250.2,
 250.4,
 251.2,
 251.5,
 251.6,
 251.8,
 252.2,
 252.3,
 252.5,
 252.9,
 253.4,
 253.8,
 253.9,
 254.2,
 254.6,
 256.1,
 256.8,
 257.2,
 257.7,
 258.3,
 258.7,
 259.3,
 260.5,
 261.0,
 261.3,
 261.4,
 261.8,
 262.0,
 262.1,
 262.2,
 262.3,
 262.4,
 263.1,
 263.4,
 265.4,
 265.9,
 266.3,
 266.8,
 267.3,
 268.1,
 268.4,
 269.3,
 269.9,
 270.0,
 270.8,
 271.0,
 271.2,
 271.3,
 271.4,
 271.6,
 271.8,
 272.0,
 272.1,
 272.3,
 272.4,
 272.7,
 273.6,
 273.8,
 274.7,
 274.8,
 275.3,
 275.6,
 275.9,
 276.0,
 276.2,
 276.3,
 276.8,
 277.0,
 277.5,
 278.3,
 278.6,
 279.8,
 281.3,
 282.2,
 282.3,
 282.5,
 283.2,
 283.4,
 284.0,
 284.3,
 284.6,
 285.2,
 285.6,
 285.8,
 286.1,
 286.3,
 286.4,
 286.7,
 286.8,
 287.0,
 287.2,
 287.6,
 287.7,
 288.0,
 288.1,
 288.4,
 288.7,
 289.2,
 289.4,
 290.2,
 290.4,
 290.5,
 290.6,
 290.9,
 291.3,
 291.4,
 291.6,
 291.7,
 292.1,
 292.2,
 292.3,
 292.5,
 292.9,
 293.3,
 293.5,
 293.7,
 293.8,
 293.9,
 294.0,
 294.1,
 294.4,
 294.9,
 295.0,
 295.2,
 295.4,
 295.7,
 296.0,
 296.2,
 296.3,
 296.4,
 296.6,
 296.7,
 297.0,
 298.0,
 298.9,
 299.1,
 299.4,
 299.5,
 299.6,
 299.7,
 299.9,
 300.1,
 300.4,
 301.3,
 301.6,
 301.9,
 302.0,
 302.5,
 302.7,
 302.9,
 303.2,
 303.3,
 303.4,
 303.5,
 303.7,
 304.2,
 305.6,
 305.7,
 306.4,
 306.5,
 306.6,
 306.8,
 307.1,
 307.4,
 307.5,
 307.6,
 307.7,
 307.9,
 308.0,
 308.2,
 308.4,
 308.5,
 308.6,
 308.8,
 309.1,
 309.2,
 309.4,
 309.5,
 309.6,
 309.9,
 310.3,
 311.0,
 311.1,
 311.4,
 311.5,
 311.7,
 311.8,
 312.2,
 312.9,
 313.0,
 313.1,
 313.2,
 313.4,
 313.5,
 313.9,
 314.1,
 314.7,
 315.0,
 315.1,
 315.3,
 315.5,
 315.7,
 315.9,
 316.9,
 317.5,
 318.0,
 318.1,
 318.4,
 318.5,
 318.9,
 319.2,
 319.6,
 319.8,
 320.2,
 320.3,
 320.4,
 320.9,
 321.1,
 321.2,
 321.8,
 322.4,
 322.9,
 323.0,
 323.8,
 323.9,
 324.0,
 324.3,
 324.8,
 325.7,
 325.8,
 326.0,
 326.2,
 326.3,
 326.7,
 326.9,
 327.0,
 327.4,
 328.0,
 328.1,
 328.3,
 328.7,
 328.9,
 329.0,
 329.1,
 329.5,
 329.9,
 330.0,
 331.3,
 331.5,
 331.8,
 332.1,
 332.4,
 333.6,
 334.3,
 334.5,
 334.8,
 335.1,
 336.1,
 336.2,
 336.6,
 336.8,
 337.9,
 338.6,
 339.0,
 340.0,
 341.0,
 341.7,
 341.8,
 341.9,
 342.7,
 344.1,
 344.6,
 345.5,
 345.9,
 346.2,
 346.9,
 347.3,
 349.4,
 350.1,
 350.4,
 351.4,
 351.6,
 353.4,
 353.9,
 354.8,
 354.9,
 355.1,
 355.5,
 355.7,
 357.1,
 358.3,
 358.4,
 359.1]

In [7]:
# note that the wind direction is the direction from which the wind is blowing
# convert this to destination for easier time vectorizing

In [8]:
raw_weather.wind_direction = raw_weather.wind_direction.apply(lambda x: x-180.0 if x >= 180.0 else x+180)

In [9]:
raw_weather.head()

                 date  wind_direction  wind_speed
0 2016-04-01 00:00:00            10.5         4.0
1 2016-04-01 03:00:00            23.3         5.0
2 2016-04-01 06:00:00            21.1         5.2
3 2016-04-01 09:00:00            24.9         4.1
4 2016-04-01 12:00:00            27.0         3.6

In [10]:
raw_weather.tail() # compare to original data outside notebook

                   date  wind_direction  wind_speed
702 2016-12-31 09:00:00           102.5         3.1
703 2016-12-31 12:00:00            99.8         1.5
704 2016-12-31 15:00:00            27.1         1.9
705 2016-12-31 18:00:00           357.0         3.3
706 2016-12-31 21:00:00           341.0         3.5

In [11]:
raw_weather.isnull().sum()

date              1
wind_direction    2
wind_speed        2
dtype: int64

In [13]:
raw_weather.shape

(707, 3)

In [14]:
raw_weather = raw_weather.dropna()

In [15]:
raw_weather.shape

(705, 3)

In [16]:
raw_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705 entries, 0 to 706
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            705 non-null    datetime64[ns]
 1   wind_direction  705 non-null    float64
 2   wind_speed      705 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 22.0 KB

In [17]:
raw_weather.describe()

       wind_direction  wind_speed
count      705.000000  705.000000
mean       143.786525    2.250355
std        105.349688    1.283297
min          0.300000    0.100000
25%         70.400000    1.200000
50%        119.500000    2.200000
75%        175.500000    3.100000
max        359.900000    6.800000

In [24]:
# ya know what
print('''this pretty much doesn't track wind currents but ~the~ wind, singular, over time

so the destination direction might be better to actually apply to the spatial analysis that incorporates sensors

can do a m/s calculation to see where the chemicals may have moved from however many seconds beforehand''')
# keep it like that for now

this pretty much doesn't track wind currents but ~the~ wind, singular, over time

so the destination direction might be better to actually apply to the spatial analysis that incorporates sensors

can do a m/s calculation to see where the chemicals may have moved from however many seconds beforehand

In [26]:
clean_weather = raw_weather.copy()
clean_weather.to_csv('../data/prepared_data/clean_data/clean_meteorological_data.csv', index=None, header=True)